<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hnzzyzy.staffingsystem.dao.StaffingEmpMapper">
    <select id="queryEmpByPage" resultType="StaffingEmp">
        SELECT *
        FROM staffing_emp
        WHERE 1=1
        <if test="staffingEmp.empStatus!=null and staffingEmp.empStatus!=0">
            AND empStatus = #{staffingEmp.empStatus}
        </if>
        <if test="sortByOrder!=null">
            ORDER BY ${sortByOrder}
        </if>
        LIMIT #{offset}, #{limit}
    </select>

    <select id="queryEmpById" resultType="StaffingEmp">
        SELECT *
        FROM staffing_emp
        WHERE empId = #{empId}
    </select>
    <select id="queryEmpByUsername" resultType="StaffingEmp">
        SELECT *
        FROM staffing_emp
        WHERE userName = #{userName}
    </select>

    <select id="queryAllCount" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM staffing_emp
        WHERE 1=1
        <if test="empStatus!=null and empStatus!=0">
            AND empStatus=${empStatus}
        </if>
    </select>

    <insert id="insertEmp">
        INSERT INTO staffing_emp (empName, empPhone,userName, empAvatarUrl, otherInfo, entryTime, beFormalTime)
        VALUES (#{empName}, #{empPhone},#{userName}, #{empAvatarUrl}, #{otherInfo}, #{entryTime}, #{beFormalTime})
    </insert>
    <update id="updateEmp">
        UPDATE staffing_emp
        <set>
            <if test="userName!=null">
                userName=#{userName},
            </if>
            <if test="empName!=null">
                empName=#{empName},
            </if>
            <if test="empPhone!=null">
                empPhone=#{empPhone},
            </if>
            <if test="empStatus!=null">
                empStatus=#{empStatus},
            </if>
            <if test="empAvatarUrl!=null">
                empAvatarUrl=#{empAvatarUrl},
            </if>
            <if test="otherInfo!=null">
                otherInfo=#{otherInfo},
            </if>
            <if test="entryTime!=null">
                entryTime=#{entryTime},
            </if>
            <if test="beFormalTime!=null">
                beFormalTime=#{beFormalTime},
            </if>
        </set>
        WHERE empId=#{empId}
    </update>

</mapper>
