<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hnzzyzy.staffingsystem.dao.StaffingOrgMapper">
    <select id="queryOrgById" resultType="StaffingOrg">
        SELECT *
        FROM staffing_org
        WHERE org_id = #{orgId}
    </select>
    <select id="queryChildOrgById" resultType="StaffingOrg">
        SELECT *
        FROM staffing_org
        WHERE p_org = #{orgId}
    </select>
</mapper>
