<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hnzzyzy.staffingsystem.dao.StaffingOrgMapper">
    <select id="queryOrgById" resultType="StaffingOrg">
        SELECT *
        FROM staffing_org
        WHERE orgId = #{orgId}
    </select>
    <select id="queryChildOrgById" resultType="StaffingOrg">
        SELECT *
        FROM staffing_org
        WHERE pOrgId = #{orgId}
    </select>
    <select id="queryOrgByPage" resultType="StaffingOrg">
        SELECT *
        FROM staffing_org
        WHERE 1=1
        <if test="sortByOrder!=null">
            ORDER BY ${sortByOrder}
        </if>
        LIMIT #{offset}, #{limit}
    </select>
    <select id="queryCount" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM staffing_org
    </select>
</mapper>
